// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-SemiBold.ttf") format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("/fonts/SourceSansPro-Bold.ttf") format('truetype');
    font-weight: 700;
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    // font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px !important;
}

.card {
    // box-shadow: none !important;
    box-shadow: rgba(0, 0, 0, 0.034) 0px 1px 4px !important;
    // border-radius: 0;
    border: none !important;
}

table.table td, table.table th{
    border: 1px solid #E9E9E9 !important;
    padding: 6px !important;
}

table.table tr:nth-child(even){background-color: #FCFCFC
!important}
th {
    font-weight: 600;
    background-color: #F9F9F9 !important;
}

label {
    font-size: 1rem;
    font-weight: 500 !important;
    color: rgb(114, 114, 114);
    letter-spacing: 1.6;
}

.navbar-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 1rem;
    width: 1rem;
    font-size: 0.6rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card form .nav-pills .nav-link.active {
    margin-bottom: -1.5px;
    color: #36926f;
    background-color: none !important;
    border-bottom: 2px solid #47CA98;
    border-radius: 0;
    padding-bottom: 1rem;

}

.card form .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
}

ul#pills-tab {
    border-bottom: 1px solid rgba(#47CA98, 0.2);
}



.image-container {
    .btn-delete-image {
        width: 1.8rem;
        height: 1.8rem;
        background-color: rgba(255, 255, 255, 0.486);
        position: absolute;
        top: 10px;
        right: 25px;
        color: white;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.1s ease;
        // E33D2F
    }

    .btn-delete-image:hover {
        background-color: #da5043;
        color: white;
    }


}

.nav-item.menu-is-opening {
    a {
        p {
            svg {
                transform: rotate(-90deg);
            }
        }
    }
}

.nav-item.menu-open {
    a {
        p {
            svg {
                transform: rotate(-90deg);
            }
        }
    }
}

// .nav-item {
//     a {
//         display: flex;
//         align-items: center;

//         .nav-icon {
//             margin-right: 0.5rem !important;
//         }

//     }


// }

// .tooltip-arrow,
// .tooltip > .tooltip-inner {
//     background-color: #f00;
// }

// .tooltip > .tooltip-arrow { border-color:#f00; }

.tooltip-inner {
    color: white;
    background-color: rgb(44, 44, 44);
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: rgb(44, 44, 44) !important;
}

.btn {

    &-custom-success {
        border: 1px solid #47CA98 !important;
        transition: all .3s ease;
        box-shadow: 0px 5px 10px rgba(#47CA98, 0.4) !important;
        background-color: #47CA98;
        color: white;

        &:hover {
            transform: translateY(-2px);
            color: white;
            background-color: darken(#47CA98, 2);
            box-shadow: 0px 15px 20px rgba(#47CA98, 0.4) !important;
        }

        &:active {
            transform: translateY(0);
            box-shadow: 0px 5px 10px rgba(#47CA98, 0.4) !important;
        }
    }


}
.card, .navbar {
    .nav-link:hover {
        color: #47CA98 !important;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #47CA98;
}

.btn-link {
    color: #36926f !important;
}


.card-list {
    .card {
        // box-shadow: rgba(0, 0, 0, 0.281) 0px 1px 4px !important;
        border: 1px solid rgb(197, 197, 197) !important;
    }
}

.bg-custom-olive {
    background-color: #47CA98;
    color: white;
}

.bg-custom-orange {
    background-color: #ffa726;
    color: white;
}

.bg-custom-violet {
    background-color: #AF7AC5;
    color: white;
}

.info-box {
    .info-box-icon {

        svg {
            opacity: 0.4;
            transform: rotate(-35deg) !important;
        }
    }
}




