// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    // font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px !important;
}

.card {
    // box-shadow: none !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border: none !important;
}

table.table td, table.table th{
    border: 1px solid #E9E9E9 !important;
    padding: 6px !important;
}

table.table tr:nth-child(even){background-color: #FCFCFC
!important}
th {
    font-weight: 600;
    background-color: #F9F9F9 !important;
}

label {
    font-size: 1rem;
    font-weight: 500 !important;
    color: rgb(114, 114, 114);
    letter-spacing: 1.6;
}

.navbar-badge {
    position: absolute;
    right: -2px;
    font-size: 0.5rem;
}

.card form .nav-pills .nav-link.active {
    margin-bottom: -1.5px;
    color: #343a40;
    background-color: none !important;
    border-bottom: 2px solid #343a40;
    border-radius: 0;
    padding-bottom: 1rem;
}

.card form .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
}

ul#pills-tab {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



.image-container {
    .btn-delete-image {
        width: 1.8rem;
        height: 1.8rem;
        background-color: rgba(255, 255, 255, 0.486);
        position: absolute;
        top: 10px;
        right: 25px;
        color: white;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.1s ease;
        // E33D2F
    }

    .btn-delete-image:hover {
        background-color: #da5043;
        color: white;
    }

    
}

// .nav-item {
//     a {
//         display: flex;
//         align-items: center;

//         .nav-icon {
//             margin-right: 0.5rem !important;
//         }

//     }

        
// }

